form.account-form#newpassword fieldset{
    display: flex;
    border: none;
    gap: 24px;
    width: 100%;
    padding: 0;
}

form.account-form#newpassword input[type=submit]{
    min-width: 250px;
    margin-bottom: 40px;
}
form.account-form#newpassword h1{
    font-size: 30px;

}

@media (max-width: 1100px){

}

@media (max-width: 700px){
    form.account-form#newpassword fieldset{
        flex-direction: column;
    }

}
